body{
//background-color:#c9e8fd;
font-family:"arial";
font-size:13px;
overscroll-behavior: contain;
}


.wrapper{
width:1200px;
height:auto;
margin:0 auto;
margin-top:-8px;
}

.general_error_msg{
width:300px;
min-height:70px;
height:auto;
line-height:50px;
background-color:white;
color:red;
border:solid 1px #aaa;
position:absolute;
z-index:10;
margin-left:350px;
margin-top:200px;
text-align:center;
display:none;
}

.general_error_title{
width:100%;
height:20px;
line-height:20px;
background-color:brown;
color:white;
text-align:center;
line-height:20px;
float:left;
}

.general_error_txt{
width:100%;
min-height:20px;
line-height:20px;
height:auto;
float:left;
}

.animationTxtHolder{
position:absolute;
width:1px;
min-height:50px;
height:auto;
background-color:#000;
z-index:10px;
margin-top:150px;
color:yellow;
font-size:2.1em;
opacity:0;
padding:5px;
}

.animationImgHolder{
position:absolute;
width:500px;
height:500px;
background-color:#000;
z-index:10px;
color:yellow;
font-size:2.1em;
opacity:0;
}

.animationButton{
cursor:pointer;
width:50px;
height:30px;
line-height:30px;
position:absolute;
z-index:100;
color:#000;
margin-left:200px;
font-size:1.2em;
background-color:#fff;
opacity:0.7;
text-align:center;
}

.animationProgress{
width:0px;
height:5px;
position:absolute;
z-index:100;
margin-top:495px;
background-color:orange;
opacity:0.9;
}

.animationResume{
position:fixed;
width:100px;
font-size:4em;
text-align:center;
opacity:0.6;
color:white;
z-index:100;
margin-left:250px;
margin-top:250px;
cursor:pointer;
display:none;
}


.progress_cover{
width:375px;
height:500px;
position:absolute;
z-index:1;
background-color:#fff;
opacity:0.9;
display:none;
}


.progress_animation{
width:80px;
text-align:center;
height:40px;
margin:0 auto;
margin-top:200px;
margin-left:140px;
position:absolute;
z-index:3;
display:none;
}

.start_progress_animation{
width:80px;
text-align:center;
height:40px;
margin:0 auto;
margin-top:200px;
margin-left:140px;
position:absolute;
z-index:3;
}

.progress_cancel{
cursor:pointer;
background-color:#ddd;
width:100%;
height:20px;
line-height:20px;
float:left;
}

.info_cover{
position:absolute;
background-color:#fff;
width:980px;
height:700px;
opacity:0.8;
display:none;
z-index:1;
}

.settingsButton{
width:30px;
height:30px;
border:solid 1px #eee;
float:left;
margin-right:5px;
line-height:30px;
text-align:center;
cursor:pointer;
color:#000;
}

.common_button{
height:30px;
color:#000;
text-align:left;
line-height:30px;
float:left;
margin-right:5px;
cursor:pointer;
width:70px;
color:#fff;
text-align:center;
}

.general_button{
width:60px;
height:30px;
background-color:orange;
color:#fff;
text-align:center;
line-height:30px;
float:left;
margin-right:5px;
cursor:pointer;
}

.header{
width:1200px;
height:50px;
float:left;
border-bottom:solid 1px #eee;
background-color:#fff;
//position:fixed;
z-index:2;
color:#777;
}

.logo{
width:350px;
height:50px;
float:left;
}

.logo_image{
width:50px;
height:50px;
float:left;
}

.logo_txt{
width:290px;
height:50px;
float:left;
margin-left:5px;
line-height:50px;
font-size:0.9em;
color:#777;
}

.company_title{
width:450px;
float:left;
line-height:50px;
font-size:0.9em;
text-align:center;
margin-left:40px;
}

.info_title{
width:100%;
min-height:30px;
line-height:30px;
height:auto;
float:left;
margin-top:10px;
font-size:1.5em;
text-align:center;
}

.transaction_entry{
width:100%;
min-height:20px;
height:auto;
line-height:20px;
border-bottom:solid 1px #eee;
float:left;
cursor:pointer;
}

.transaction_entry_header{
width:100%;
height:20px;
line-height:20px;
background-color:#d8e7fd;
float:left;
}

.transaction_entry_field{
width:20px;
min-height:20px;
height:auto;
line-height:20px;
float:left;
text-align:left;
}

.header_user{
width:auto;
height:40px;
float:right;
margin-top:8px;
margin-right:5px;
color:#888;
}

.navigation_holder{
min-width:500px;
width:auto;
margin-top:50px;
min-height:30px;
height:auto;
height:auto;
margin:0 auto;
}

.navigation{
margin:0 auto;
width:100%;
min-height:30px;
height:auto;
float:left;
height:auto;
margin-top:50px;
border-bottom:solid 1px #eee;
background-color:#ddd;
}

.navigation_item{
//border-bottom:solid 1px #999;
width:96%;
padding:3px;
height:25px;
float:left;
line-height:25px;
text-align:left;
}

.section_holder{
width:200px;
min-height:400px;
//border:solid 1px #eee;
height:auto;
position:absolute;
//background-color:#eee;
font-size:0.9em;
}

.section_item{
width:96%;
min-height:30px;
height:auto;
line-height:30px;
float:left;
border-bottom:solid 1px #eee;
padding:3px;
cursor:pointer;
}

.section_title{
width:100%;
height:20px;
float:left;
color:#fff;
background-color:brown;
padding-left:5px;
line-height:20px;
font-size:0.9em;
}




.info_holder{
width:100%;
height:auto;
margin-top:30px;
}

.info_area{
width:980px;
margin-bottom:50px;
min-height:300px;
height:auto;
float:right;
//overflow:auto;
}

.area_information_holder{
width:99.4%;
padding:3px;
float:left;
height:auto;
}

.section_close_button{
width:30px;
height:30px;
color:brown;
position:absolute;
margin-top:-30px;
background-color:#bbb;
line-height:30px;
text-align:center;
margin-left:948px;
cursor:pointer;
color:#fff;
}

.search_bar{
margin-top:25px;
width:100%;
height:30px;
float:left;
margin-bottom:5px;
}

.search_field{
width:980px;
height:30px;
float:right;
text-align:center;
}

.area_information{
margin-top:10px;
width:100%;
min-height:400px;
height:auto;
float:left;
}

.window_title_bar{
width:100%;
height:30px;
background-color:#006bb3;
text-align:center;
font-weight:bold;
font-size:1em;
line-height:30px;
color:#fff;
}

.window_holder{
width:400px;
margin:0 auto;
height:auto;
}

.window_container{
width:400px;
height:500px;
overflow:auto;
background-color:#fff;
float:left;
border:solid 1px #006bb3;
position:relative;
}

.window_close_button{
width:30px;
height:30px;
float:right;
line-height:30px;
text-align:center;
cursor:pointer;
}

.area_option_bar{
width:100%;
height:30px;
float:left;
border-bottom:solid 1px #eee;
}

.option_lebel{
min-width:40px;
width:auto;
margin-right:3px;
height:30px;
line-height:30px;
float:left;
padding-left:2px;
font-size:0.9em;
}

.option_item{
min-width:30px;
width:auto;
padding-left:3px;
padding-right:3px;
border:solid 1px #ccc;
min-height:25px;
height:auto;
margin-top:1px;
line-height:25px;
float:left;
background-color:#eee;
cursor:pointer;
margin-right:10px;
}

.option_menu_item{
width:100%;
min-height:30px;
height:auto;
line-height:30px;
border-bottom:solid 1px #ccc;
cursor:pointer;
}

.option_menu{
width:auto;
padding:3px;
min-height:30px;
height:auto;
max-height:150px;
overflow:auto;
position:absolute;
margin-top:28px;
background-color:#ddd;
}

.area_info_block{
width:100%;
min-height:500px;
height:auto;
float:left;
padding:2px;
}

.settings_tab_area{
width:610px;
height:30px;
line-height:30px;
margin:0 auto;
}

.settings_tab{
width:150px;
height:30px;
text-align:center;
border-right:solid 1px #fff;
background-color:#eee;
cursor:pointer;
float:left;
}

.settings_detail{
width:300px;
float:left;
height:auto;
}

.setting_item{
width:100%;
height:auto;
float:left;
}

.setting_label{
width:150px;
height:30px;
line-height:30px;
font-weight:bold;
}

.setting_field{
width:300px;
height:30px;
}

.industrial_sector_row_holder{
width:100%;
height:auto;
float:left;
margin-bottom:5px;
}

.industrial_sector_container{
width:239px;
min-height:40px;
height:auto;
float:left;
margin-left:3px;
margin-right:3px;

}

.industrial_sector_title{
width:100%;
min-height:20px;
height:auto;
line-height:20px;
float:left;
font-weight:bold;
font-size:1.2em;
color:brown;
border-bottom:solid 1px #006bb3;
cursor:pointer;
}

.industrial_sector_title_logo{
width:20px;
height:20px;
float:left;
margin-right:5px;
}

.industrial_sector_category_item{
width:100%;
height:20px;
line-height:20px;
float:left;
cursor:pointer;
}

.category_banner{
width:100%;
height:120px;
float:left;
//border:solid 1px brown;
margin-bottom:5px;
}

.category_companies_title{
width:99.5%;
height:30px;
line-height:30px;
float:left;
text-align:left;
margin-left:4px;
font-size:1.9em;
color:brown;
}

.category_companies{
width:99.5%;
min-height:20px;
height:auto;
line-height:20px;
float:left;
border-bottom:solid 1px #eee;
cursor:pointer;
font-size:0.9em;
margin-left:2px;
}

.category_company_title_holder{
width:500px;
margin:0 auto;
min-height:50px;
height:auto;
}

.category_company_logo{
width:400px;
height:30px;
margin:0 auto;
text-align:center;
}

.category_company_title{
width:400px;
min-height:30px;
height:auto;
margin:0 auto;
font-size:1.3em;
line-height:30px;
text-align:center;
color:#006bb3;
}

.category_company_products_holder{
width:100%;
height:auto;
float:left;
}

.category_company_products_title{
width:99.7%;
padding:3px;
height:30px;
line-height:30px;
float:left;
color:#000;
font-size:1.2em;
}

.company_product_holder{
width:99.7%;
height:20px;
float:left;
border-bottom:solid 1px #eee;
}

.product_preview{
width:200px;
height:200px;
display:none;
position:absolute;
margin-top:20px;
margin-left:350px;
border:solid 1px orange;
}

.product_preview_image{
width:200px;
height:200px;
float:left;
}

.company_product_tools{
width:99.7%;
margin-left:2px;
height:25px;
line-height:25px;
float:left;
margin-bottom:5px;
}



.chat_budge{
width:245px;
height:390px;
overflow:auto;
border:solid 1px #aaa;
background-image:url('../imgs/bg2.jpg');
border-radius:5px;
//position:absolute;
float:left;
z-index:10;
margin:3px;
}


.chat_area{
	min-width:245px;
	width:auto;
	max-width:802px;
	position:absolute;
	z-index:2px;
	overflow:auto;
	min-height:30px;
	max-height:400px;
	height:auto;
	bottom:0px;
	margin-bottom:40px;
	//background-color:red;
}

.chat_title{
width:90%;
height:30px;
min-height:30px;
line-height:30px;
float:left;
text-align:left;
font-weight:bold;
background-color:#eef;
cursor:pointer;
}

.chat_budge_message_holder{
width:170px;
margin-left:4px;
background-color:#fff;
float:left;
margin-bottom:10px;
border:solid 1px #eee;
padding:3px;
font-size:0.9em;
border-radius:5px;
}

.chat_companies{
width:96%;
float:left;
margin-left:4px;
margin-top:2px;
margin-bottom:2px;
min-height:20px;
height:auto;
line-height:20px;
cursor:pointer;
border-bottom:solid 1px #aaa;
background-color:#eee;
border-radius:10px;
}

.chat_company_online_state{
margin-right:2px;
width:20px;
height:20px;
color:#fff;
background-color:green;
float:left;
border-radius:20px;
}

.status_bar{
width:100%;
height:20px;
line-height:20px;
background-color:#ddd;
border-bottom:solid 1px #ccc;
border-top:solid 1px #ccc;
}

.status_bar_item{
width:250px;
float:left;
height:20px;
margin-left:5px;
text-align:left;
}

.copyright{
width:100%;
height:20px;
line-height:20px;
float:left;
cursor:pointer;
}

.footer{
width:100%;
text-align:center;
height:40px;
line-height:20px;
margin-left:-8px;
position:fixed;
bottom:0px;
background-color:#eee;
font-size:0.8em;
z-index:2;
}

